body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  max-width: 1900px;
  
}

header {
  position: relative;
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 80px;
}

header h2 {
  font-size: 20px;
}

header .containerIcon {
  display: flex;
  align-items: center;
  
}

header .containerIcon img {
  width: 40px;
  height: 37px;
}

header .optionsMenu {
  display: flex;
  background-color: #fff;
  height: 40px;
}

header #iconMenu {
  display: none;
}

header h2 {
  color: #333;
  margin-left: 10px;
}

header button {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;

  margin: 5px;
  border: none;
  background-color: #fff;
}

header button:last-of-type {
  border-left: 1px solid #000;
  padding-left: 10px;
}

#menu {
  display: none;
}

main {
  position: relative;
  background-color: #fff;
  
  display: flex;

  margin-top: 25px;
}

main .newTransaction {
  flex: 0.5;
  
  display: flex;
  margin-left: 200px;
  margin-right: 20px;
}

main .newTransaction .transactionContainerFields {
  width: 100%;
}

main .newTransaction .transactionContainerFields :is(.typeTransaction, .nameTransaction, .valueTransaction) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

main .newTransaction :is( .errorName, .errorValue) {
  padding-top: 10px;
  display: none;
  justify-content: center;
  align-items: center;

  color: #ff0000;
  height: 20px;
}

main .newTransaction :is(.errorName, .errorValue) span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    margin-right: 6px;
}

main .newTransaction :is(.errorName, .errorValue) img {
  height: 26px;
}


main .extractTransaction {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  

  margin-right: 200px;
}

main .extractTransaction h2 {
  display: none;
  align-items: center;
  justify-content: center;
  flex: 1;
}



main .modalTransaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 340px;
  width: 400px;

  padding: 0 14px;
  border: 1px solid #979797;
  border-radius: 4px;
}

main .modalTransaction form {
  display: flex;
  flex-direction: column;
  width: inherit;
}

main h4 {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-weight: 700;
  text-align: center;

  margin: 0 0 20px 0;
}

.modalTransaction label {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #333;
}

.modalTransaction select {
  
  background: #FFFFFF;
  color: #333;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 14px;
  padding: 8px;
}

.modalTransaction input {
  
  background: #FFFFFF;
  color: #333;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 14px;
  padding: 8px;
}

.modalTransaction button { 
  height: 32px;
  color: #fff;
  background: #333;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;

}

.modalTransaction button:hover { 
  background: #333333d7;

}

.extractTransaction table {
  border-collapse: collapse;
}

.extractTransaction table thead {
  text-align: left;
}

.extractTransaction table td {
  border-bottom: 1px solid #979797;
  padding: 6px 0;
}

.extractTransaction table tr:last-child {
  border-bottom: none;
}

.extractTransaction table tr:last-child td {
  border-bottom: none;
  font-size: 14px;
  font-weight: 700;
}

.extractTransaction table tr :is( .total, #totalValue) p {
  font-weight: 300;
  font-size: 10px;
  line-height: 22px;
  line-height: 0;
}

.extractTransaction table th {
  border-bottom: 1px solid #979797;
}


@media (max-width: 1130px) {

  header {
    padding: 0 25px;
  }

  main .newTransaction {
    margin-left: 20px;
  }

  main .extractTransaction {
    margin-right: 20px;
  }


}


@media (max-width: 768px) {

  header{
    display: block;
    justify-content: initial;
    align-items: initial;
    height: 60px;
  }

  header .containerIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu {
    position: absolute;
    top: 0;
    width: 35%;
    height: 100vh;
    right: 0;
    background: #333;
  }

  #menu .header {
    margin: 10px 0 0 10px;
  }

  #menu .header button {
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
  
    margin: 5px;
    border: none;
    background-color: transparent;

    font-style: normal;
    font-weight: 600;
    
    line-height: 19px;
  }

  #menu #content button {
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    color: #fff;
  
    margin: 5px;
    border: none;
    background-color: transparent;
    justify-content: center;
  }


  #menu #content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }

  #menu #content button {
    
    display: flex;
    justify-content: flex-end;

  }
  
  header {
    padding: 0;
  }

  header .containerIcon {
    width: inherit;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
  }

  header .containerIcon img {
    width: 30px;
    height: 28px;
  }
  
  header .optionsMenu {
    display: none;
  }

  header #iconMenu {
    display: flex;
    border: none;
    align-items: center;
    background: transparent;
  }

  header button:last-of-type {
    border: none;
    padding: 0px;
  }

  main {
    flex-direction: column; 
  }

  main .newTransaction {
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  main .newTransaction .transactionContainerFields {
    display: flex;
  }

  main .extractTransaction {
    padding: 0 40px;
    margin-top: 44px;
    
  }

  main .modalTransaction {
    width: 90%;
    height: 220px;
  }

  .modalTransaction .transactionContainerFields {
    display: flex;
    justify-content: center;
  }

  .modalTransaction .transactionContainerFields div {
    margin-left: 20px;
  }

  .modalTransaction .transactionContainerFields div:first-child {
    margin-left: 0px;
  }

  .modalTransaction .transactionContainerFields .typeTransaction {
    width: 150px;
  }

  .modalTransaction .transactionContainerFields .nameTransaction {
    width: 348px;
  }

  .modalTransaction .transactionContainerFields .valueTransaction {
    width: 150px;
  }

  .modalTransaction button {
    width: 200px;
    height: 32px;
    margin-left: auto;
  }

}

@media (max-width: 610px) {
  
    #menu {
      position: absolute;
      top: 0;
      width: 80%;
      height: 100vh;
      right: 0;
      background: #333;
    }
  header h2 {
    font-size: 20px;
    font-weight: 600;
  }

  main .newTransaction {
    display: flex;
    height: inherit;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;    
    border-bottom: 1px solid #979797;
  }
 
  main .newTransaction .transactionContainerFields :is(.typeTransaction, .nameTransaction, .valueTransaction) {
    display: flex;
    flex-direction: row;
  }

  main .newTransaction .modalTransaction {
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 290px;
    margin-bottom: 28px;
    margin-right: 20px;
    margin-left: 20px;
  }

  main .newTransaction h4 {
    display: none;
  }
  
  main .newTransaction .modalTransaction .transactionContainerFields {
    display: flex;
    flex-direction: column;
  }

  main .newTransaction .transactionContainerFields :is(.typeTransaction, .nameTransaction, .valueTransaction) {
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 20px;
    
    width: 100%;
  }

  main .extractTransaction h2 {
   font-size: 16px;
  }

  main .modalTransaction {
    padding: 0;
  }

  main .modalTransaction label {
    width: inherit;
    padding: 0 0 5px;
  }

  main .modalTransaction select {
    width: 100%;
  }


  main .modalTransaction input {
    width: 100%;
  }

  main .modalTransaction button {
    width: 100%;
    margin: 0;
    height: 32px;
  }

  main .extractTransaction {
    padding: 0;
    margin: 44px 20px 0 20px;
    
  }

  .modalTransaction .transactionContainerFields div {
    margin-left: 0;
  }

}